

/* Color de fondo y estilos del navbar */
.navbar {
    border-radius: 0; /* Bordes rectos */
}


    /* Estilos para el cuerpo de la página */
    body {
        padding-top: 70px; /* Ajuste para el navbar */
        font-family: Arial, sans-serif; /* Fuente predeterminada */
    }
    
    /* Estilos para el pie de página */
    .footer {
        background-color: #0f77e0; /* Color de fondo */
    }
    
    /* Estilos para el formulario */
    .form-control {
        margin-bottom: 10px; /* Espaciado inferior */
    }
    
    /* Estilos para el carrusel */
    .carousel-item img {
        height: 400px; /* Altura de las imágenes del carrusel */
    }

    .container {
        margin-top: 20px; /* Margen superior */
    }

    /* Estilos para las imágenes */
    .img-fluid {
        margin-bottom: 20px; /* Espaciado inferior */
    }
    
    /* Estilos para el video */
    .embed-responsive-item {
        border-radius: 5px; /* Bordes redondeados */
    }
    
    /* Estilos para el mapa */
    .embed-responsive {
        margin-bottom: 20px; /* Espaciado inferior */
    }
/****************************************/

    body {
        margin: 0;
        padding: 0;
    }
    
    .banner {
        background-color: #007bff; /* Color de fondo */
        color: #df1010; /* Color del texto */
        text-align: center; /* Alineación del texto */
        padding: 20px 0; /* Relleno superior e inferior */
    }
    
